{% extends 'base.html.twig' %}

{% block title %}Fotw{% endblock %}

{% block content %}

    <article>
        <div class="title-wrapper">
            <p class="date"><span>{{ fotw.article.date ? fotw.article.date|date('Y-m-d') : '' }}</span></p>
            <h1 class="title">Factory Of The Week : {{ fotw.article.title }}</h1>
        </div>
    
        {% if ytUrl != NULL %}
        <div id="yt-iframe-wrapper">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ ytUrl }}" frameborder="0"></iframe>
        </div>
        {% endif %}
    
        <p class="article-content">{{ fotw.article.content }}</p>
    </article>

    <div class="actions">
        <a href="{{ path('fotw_index') }}" class="btn clr-white">back to list</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('fotw_edit', {'id': fotw.id}) }}" class="btn clr-white">edit</a>
        {% endif %}
    </div>
{% endblock %}
