{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="title">{{ title }}</h1>
<ul class="admin-panel">
    <li><a href="{{ path('user_index') }}" class="clr-white">Users list</a></li>
    <li><a href="{{ path('news_index') }}" class="clr-white">News List</a></li>
    <li><a href="{{ path('fotw_index') }}" class="clr-white">Update FOTW</a></li>
    <li><a href="" class="clr-white">Tutorials List</a></li>
    <li><a href="" class="clr-white">Funny Stuff List</a></li>
</ul>

<ul class="admin-panel">
    <li><a href="{{ path('article_index') }}" class="clr-white">Articles List</a></li>
    <li><a href="{{ path('video_index') }}" class="clr-white">Videos list</a></li>
    {#<li><a href="{{ path('tag_index') }}" class="clr-white">Tags List</a></li>#}
</ul>
{% endblock %}
