<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ title|default('Web page') }} {% endblock %} - NGApp</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link rel="stylesheet" href="{{ asset('static/css/style.css') }}">
    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
        <img src="{{ asset('static/img/Satisfactory_logo.png') }}" alt="Logo" class="logo">

        {% if app.user %}
        <div class="user">
            <p>{% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin') }}" class="link clr-white">Admin panel</a> | {% endif %} Welcome, {{ app.user.username }} | <a href="{{ path('app_logout') }}" class="link clr-white">Disconnect</a></p>
        </div>
        {% else %}
        <div class="user">
            <p><a href="{{ path('app_login') }}" class="link clr-white">Connect</a> | <a href="{{ path('app_register') }}" class="link clr-white">Create account</a></p>
        </div>
        {% endif %}

        {% endblock header %}
    </header>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}" class="clr-white">Home</a></li>
            <li><a href="{{ path('news_index') }}" class="clr-white">News</a></li>
            <li><a href="{{ path('fotw_index') }}" class="clr-white">Factory Of The Week</a></li>
            <li><a href="{#{{ path('tutorials') }}#}" class="clr-white">Tutorials</a></li>
            <li><a href="{#{{ path('funny') }}#}" class="clr-white">Funny Stuff</a></li>
        </ul>
    </nav>

    <main>{% block content %}{% endblock %}</main>

    <footer>
        {% block footer %}
        <div class="infos">
            <p>@Me 2021</p>
            <p>All rights reserved.</p>
        </div>
        {% endblock footer %}
    </footer>
</body>