{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="actions">
        <a href="{{ path('video_new') }}" class="btn clr-white">Create a video</a>
        <button class="btn clr-white">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
